h1 {
  color:white;
  text-decoration-line: overline;
  text-decoration-color: #DB513D;
  font-family: Georgia, serif;
  text-align: center;
  font-size: 80px;
}

h2{
  margin-left:50px;
  font-size:40px;
}

h3{
  margin-left:50px;
}

h4{
  margin-left:30px;
}

p {
  font-family: Verdana, sans-serif;
  margin-right:450px;
  margin-left: 50px;
  font-size: 18px;
}

img {
  margin-left: 50px;
}

hr {
  color:#01133A;
  margin-left:60px;
  margin-right:60px;
}

a:link, a:visited {
  background-color: #A4CBE0;
  color:#4266ED;
  padding: 14px 25px;
  border: 2px solid #A4CBE0;
  padding: 5px;
  border-radius: 9px;
  text-decoration: none;

}
a:hover {
  background-color: #63C9F7;
}
a:active {
  background-color: yellow;
}
